global
    maxconn 500

defaults
    mode http
    timeout connect 10s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80
    default_backend application_nodes

backend application_nodes
    balance roundrobin
    option httpchk GET /status
    http-check expect string "Server is alive"
    server server01 app1:9001 check inter 1s
    server server02 app2:9002 check inter 2s
    server server03 app3:9003 check inter 2s

listen stats
    bind *:83
    stats enable
    stats uri /